<div class="container">
  <div class="row">
    <div class="mx-auto mt-3 mb-4">
      <h1 class="font-weight-b">welcome to <i class="fas fa-book"></i><span class="font-weight-bold">Bookers !!</span></h1>
    </div>
    </div>
  </div>
</div>