<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto my-2">

      <h1>welcome to <i class="fas fa-book"></i><span class="font-weight-bold">Bookers !!</span></h1>

      <p>in <i class="fas fa-book"></i>Bookers,</p>
      <p>you can share and exchange your oponions, inpressions, and emotions</p>
      <p>about various books!</p>

    </div>
    <div class="col-md-9 mx-auto mb-4">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-block btn-info mb-3" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-block btn-success" %>

    </div>
  </div>
</div>